.dm_FooterCopyright {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    >.ant-row {
        padding-top: 30px;
        padding-bottom: 20px;
        .ant-col-8 {
            padding-left: 80px;
            >i, >a {
                display: block;
                color: #999;
            }
            >i {
                font-size: 16px;
                font-style: normal;
                padding-bottom: 10px;
            }
            >a {
                line-height: 24px;
                font-size: 14px;
                &:hover {
                    color: var(--dm-main-color);
                }
            }
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        color: #aeaeae;
        line-height: 24px;
        >li {
            padding: 0 4px;
        }
    }
}