:root {
    // 主色调
    --dm-main-color: var(--ant-primary-color);
    // body颜色
    --dm-body-color: #f0f0f0;

    // 文字颜色
    --dm-font-color-blue: var(--ant-primary-color);
    --dm-font-color-white: #fff;
    --dm-font-color-555: #555;
    --dm-font-color-999: #999;

    // 背景颜色
    --dm-bg-color-blue: var(--ant-primary-color);
    --dm-bg-color-white: #fff;
    --dm-bg-color-333: #333;
    --dm-bg-color-555: #555;
    --dm-bg-color-alpha: var(--ant-primary-color-deprecated-f-12);

    // 灰色边框
    --dm-border-color-eee: #eee;
}